<!DOCTYPE html>
<html>
<head>
    <title>关于 | 云袖便签</title>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/about.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div class="top alpha">
        <div class="topBox">
            <div class="pNav">
                <a href="/home" title="首页" class="pbg navHome"></a>
                <!--
                <a href="/history" title="记录" class="pbg navRecord"></a>
                <a href="/message" title="消息" class="pbg navMsg"></a>
                <a href="/setting" title="设置" class="pbg navSet"></a>
                -->
                <a href="/about" title="关于" class="pbg navAbout"></a>
                <a href="/sign/logout" title="退出" class="pbg navLogout"></a>
            </div>
        </div>
    </div>

    <div id="memolist">
        <ul id="waterfall">
            <li>
                <div>
                    <h2>想法 ></h2>

                    <p>闲着没事干，想弄个小项目来练练手，主要是Nodejs、MongoDB、Android</p>
                </div>
            </li>
            <li>
                <div>
                    <h2>作者 ></h2>

                    <p>英俊的Kevin</p>

                    <p><img src="/images/myself.png" alt="Kevin"/></p>

                    <p>以及美丽的Alice.</p>

                    <p>^*(- -)*^</p>
                </div>
            </li>
            <li>
                <div>
                    <h2>功能 ></h2>

                    <p>1.用户注册、登录</p>

                    <p>2.新增便签</p>

                    <p>3.删除便签</p>

                    <p>4.查看便签</p>
                </div>
            </li>
            <li>
                <div>
                    <h2>展望 ></h2>

                    <p>0.用户设置</p>

                    <p>1.修改便签</p>

                    <p>2.搜索便签</p>

                    <p>3.历史便签</p>

                    <p>4.瀑布流加载</p>

                    <p>5.Android端</p>

                    <p>6.便签同步</p>

                    <p>7.SEO优化</p>

                    <p>8.还有些什么，暂时没想到...</p>
                </div>
            </li>
            <li>
                <div>
                    <h2>项目 ></h2>

                    <p>1.嗨皮滴托管在<a href="https://github.com/DolphinBoy/CloudMemo" target="_blank">Github</a></p>

                    <p>2.骄傲的使用<a href="http://cnodejs.net/" target="_blank">NAE</a></p>

                    <p>3.坚持开源的<a href="http://www.opensource.org/licenses/mit-license.php" target="_blank">MIT</a></p>
                </div>
            </li>
            <li>
                <div>
                    <h2>联系我 ></h2>

                    <p>1.<a href="http://dolphinboy.me" target="_blank">我的主页</a></p>

                    <p>2.<a href="http://weibo.com/longxinanlan" target="_blank">@龙心安兰</a></p>

                    <p>3.<a href="http://dolphinboy.me/about" target="_blank">更多...</a></p>
                </div>
            </li>
            <li>
                <div>
                    <h2>声明 ></h2>

                    <p>1.本站严重不支持IE6以及其他伤害前端程序猿的浏览器凸^-^凸</p>

                    <p>2.本网站纯属虚构，如有雷同，纯属巧合！</p>

                </div>
            </li>
            <li>
                <div>
                    <h2>v1.0.0 ></h2>

                    <p>2013年6月12日</p>

                    <p>完成用户模块和便签模块</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>