<!DOCTYPE html>
<html>
<head>
    <title>表单样式测试</title>
    <link href="/css/test.css" rel="stylesheet"/>
</head>
<body>
<div class="login">
    <div class="login-screen">
        <div class="login-form">
            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="邮箱" id="login-name" />
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="密码" id="login-pass" />
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <a class="btn btn-primary btn-large btn-block" href="#">登  录</a>
            <a class="login-link" href="#">忘记密码?</a>
        </div>
    </div>
</div>
</body>
</html>