<!DOCTYPE html>
<html>
<head>
    <title>主页 | 云袖便签</title>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/home.css" rel="stylesheet"/>
    <script type="text/javascript" src="/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.cookie.js"></script>
    <!--<script type="text/javascript" src="/lib/jquery.scrollload.js"></script>-->
    <!--<script type="text/javascript" src="/lib/jquery.waterfall.js"></script>-->
    <!--<script type="text/javascript" src="/lib/jquery.waterfall.min.js"></script>-->
    <!--<script type="text/javascript" src="/plugs/infinite-scroll/jquery.infinitescroll.min.js"></script>-->

    <script type="text/javascript" src="/js/home.js"></script>

</head>
<body>
<div id="container">
    <div class="top alpha">
        <div class="topBox">
            <div class="pNav">
                <a href="/home" title="首页" class="pbg navHome"></a>
                <!--
                <a href="/history" title="记录" class="pbg navRecord"></a>
                <a href="/message" title="消息" class="pbg navMsg"></a>
                <a href="/setting" title="设置" class="pbg navSet"></a>
                -->
                <a href="/about" title="关于" class="pbg navAbout"></a>
                <a href="/sign/logout" title="退出" class="pbg navLogout"></a>
            </div>
        </div>
    </div>

    <div id="memolist">
        <ul id="waterfall">
            <li id="context"><a href="javascript:void(0)">
                <input id="memotitle" type="text" size="18">
                <textarea id="memotext" cols="20" rows="10" wrap="physical"></textarea>
                <div class="button"><span id="clear">清空</span><span id="filling">归档</span></div>
            </a></li>
            <!--<li><a href="javascript:void(0)"><span class="close"></span>
                <h2>Dudu：</h2>
                <p>最近咋没有美女发帖呢？我一定给个头条推荐,recommend!</p>
            </a></li>-->
        </ul>
    </div>
</div>
</body>
</html>