<!DOCTYPE html>
<html>
<head>
    <title>主页 | 云袖便签</title>
    <link href="/css/home.css" rel="stylesheet" />
    <script type="text/javascript" src="/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.cookie.js"></script>

    <script type="text/javascript" src="/js/home.js"></script>
</head>
<body>
    <div id="desktop">
        <div id="top">
        </div>
        <div id="memo">
            <div class="innerstyle">
                <div id="context">
                    <textarea id="memotext" cols="20" rows="13" wrap="physical"></textarea>
                </div>
            </div>
            <div id="tools">
                <ul>
                    <li><button id="clear">清空</button> </li><li><button id="filling">归档</button></li>
                </ul>
            </div>
        </div>
        <div id="memolist"></div>
    </div>
</body>
</html>