<!DOCTYPE html>
<html>
<head>
    <title>欢迎 | 云袖便签</title>
    <link href="/css/reset.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet"/>

    <script type="text/javascript" src="/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<div id="container">
    <div class="line logo_line">
        <div class="box">
            <span><img class="logo" src="/images/logo.gif" alt="cloudemome"/></span>
            <span class="slogan">云袖便签 | 让我们的生活更美好!</span>
        </div>
    </div>
    <div class="loginbut">
        <form id="sign">
        <div class="control-group">
            <input type="text" class="login-field" value="" placeholder="邮箱" id="login-name" />
            <label class="login-field-icon fui-user" for="login-name"></label>
        </div>
        <div class="control-group">
            <input type="password" class="login-field" value="" placeholder="密码" id="login-pass" />
            <label class="login-field-icon fui-lock" for="login-pass"></label>
        </div>
        </form>
    </div>
</div>
</body>
</html>

