<!DOCTYPE html>
<html>
<head>
    <title>欢迎 | 云袖便签</title>
    <link href="/css/reset.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet"/>

    <script type="text/javascript" src="/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<div id="container">
    <div class="line logo_line">
        <div class="box">
            <span><img class="logo" src="/images/logo.gif" alt="cloudemome"/></span>
            <span class="slogan">云袖便签 | 让我们的生活更美好!</span>
        </div>
    </div>
    <div class="loginbut">
        <span id="showlogin" class="but"><img src="/images/logo.png" alt="Login"/></span>
        <span id="showsignup" class="but"><img src="/images/logo.png" alt="Signup"/></span>
    </div>
    <div class="loginform">
        <div class="logo"></div>
        <form id="sign" action="/login" method="post">
            <ul class="w-user w-user-1">
                <li>
                    <div><label>邮箱</label>
                        <input id="email" name="email" type="text" placeholder="邮箱" tabindex="0"/>
                    </div>
                </li>
                <li>
                    <div><label>密码</label>
                        <input id="pwd" name="password" type="password" placeholder="密码" autocomplete="off"tabindex="1"/>
                    </div>
                </li>
                <li>
                    <div><label>确认密码</label>
                        <input id="repwd" name="re_pwd" type="password" placeholder="确认密码" autocomplete="off"tabindex="2"/>
                    </div>
                </li>
                <li>
                    <button id="login" type='button' tabindex="3"><span>登录</span></button>
                </li>
                <li>
                    <button id="signup" type='button' tabindex="4"><span>注册</span></button>
                </li>
                <li>
                    <a href="/resetpwd" target="_blank">忘记密码</a>
                </li>
            </ul>
        </form>
    </div>
</div>
</body>
</html>

