<!DOCTYPE html>
<html>
<head>
    <title>欢迎 | 云袖便签</title>
    <link href="/css/reset.css" rel="stylesheet"/>
    <link href="/css/index.css" rel="stylesheet"/>

    <script type="text/javascript" src="/lib/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<div id="container">
    <div class="line logo_line">
        <div class="box">
            <!--<span><img class="logo" src="/images/logo.gif" alt="cloudemome" /></span>-->
            <div id="cloud"></div>
            <span class="slogan">云袖便签 | 让我们的生活更美好!</span>
        </div>
    </div>
    <div class="login-form">
        <form id="sign">
            <div class="control-group">
                <input id="email" name="email" type="text" class="login-field" placeholder="邮箱" />
                <label class="login-field-icon fui-user" for="email"></label>
            </div>
            <div class="control-group">
                <input id="password" name="password" type="password" class="login-field" placeholder="密码" />
                <label class="login-field-icon fui-lock" for="password"></label>
            </div>
            <div class="control-group repwd">
                <input id="repwd" name="re_pwd" type="password" class="login-field" value="" placeholder="确认密码" />
                <label class="login-field-icon fui-lock" for="password"></label>
            </div>
            <a id="login" class="btn btn-primary btn-large btn-block" href="javascript:void(0)">登  录</a>
            <a id="signup" class="sign-link" href="javascript:void(0)">注册</a>
            <a id="lostpass" class="getpwd-link" href="javascript:void(0)">忘记密码?</a>
        </form>
    </div>
</div>
</body>
</html>

