@charset "utf-8";
/**
 * Author: DolphinBoy
 * Email: dolphinboyo@gmail.com
 * Date: 13-5-7
 * Time: 下午9:59
 * Description: 首页样式
 */


body {
    background: url("/images/bg.png") repeat;
    overflow: hidden;
}

body, textarea, select, input, button {
    font-family: "Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
}

#container div.logo_line {
    visibility: visible;
    opacity: 1;
    top: 20%;
}
.line {
    position: absolute;
    z-index: 10;
    left: 0;
    margin: -131px auto 0;
    width: 100%;
}


#container div.loginform {
    display: none;
}

.box {
    width: 420px;
    margin: 0 auto 55px;
}

.slogan {
    width: 450px;
    color: white;
    font-size: 22px;
    letter-spacing: 22px;
}

.loginbut {
    position: absolute;
    left: 50%;
    top: 40%;
    cursor: pointer;
    width: 420px;
    margin-left: -210px;
    opacity: 1;
    visibility: visible;
}



li {
    border-bottom:thick dotted #ff0000;
    margin-top: 10px;
}



/***** reset ******/
ul {
    list-style-type: none
}
ul li {list-style: none; list-style-type: none}
ol li {list-style: none;}

